
.smbhomework{
    width: 30%;
    height: 4rem;
    font-size: 20px;
    border-color: white;
    border-radius: 1rem;
    background-color: #353535;
    color:  gray;
    margin: 1rem;
    padding:  0 0 0 20px;
}

.butthomework{
    width: 15%;
    height: 4rem;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 1rem;
    background-color: rgba(10, 10, 10, 0.396);
    margin: 1rem;
}

.butthomework:hover{
    background-color: orangered;
    transition: 1.2s;
    transform: scale(1.2);
}

.linespace{
    width: 90%;
    height: 6px;
    background :linear-gradient(70deg, green,orange,red);
    border: none;
    border-radius: 10px;
}

.reportmsj{
    font-size: 2rem;
}
.filter{
    display: flex;
    justify-content: left;
}

#state{
    margin: 0rem 2rem 1rem 8rem;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
}