
.footer{
    width: 100%;
    height: 15vh;
    background-color: #353535;
    margin-top: 3rem;
    
}

.name{
    font-size: 4rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}